p{
    text-align: justify;
    text-indent: 50px;

}

body{
    background-color: wheat;
    color: rgb(0, 0, 0) ;
}

figure.foto-legenda{
    border: 8px solid red;
}

figure.foto-legenda img{
    width: 100%;
    height: 100%;
}